In [17]:
import requests

url = 'http://www.ibm.com/'
r = requests.get(url)
# r.status_code:200

print(r.request.headers)
r.text[0:100]
r.encoding


url_get='http://httpbin.org/get'
payload={"name":"Joseph","ID":"123"}
r=requests.get(url_get,params=payload)
r.url

r.json()['args']


url_post='http://httpbin.org/post'
r_post=requests.post(url_post,data=payload)
print("POST request URL:",r_post.url )
print("GET request URL:",r.url)
r_post.json()['form']

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Cookie': '_abck=E6E1886A6ACF833A8444052B3266F8FE~-1~YAAQDvBuaM7Dn1+NAQAAmFm9dAvlxK+RZRWKINkFdWIfs/s3ggvOgZN2E/69Ud+04dLgpkkEXfPFlOrnQiWhoilR99WJHWqXbe+5O6u8ZEl94KQXtU9SIfDNMgYaDnJemgiqj7QNH8jTNzFPUYV0UZEYReyxWa1cL4QjS3k0+QBu7T6l8I+hCdUoi8f+uFUDYP/xA16VS+zQRUgbFm9xlqODxRV7tIh8sNid8x1rtIcW9rPwlbPnMZIYtITrFiuDcQyjnRoHA9ZXO6P9H9maA++HcRMH1GxuzOYEkvMf0tf/n2Gxnz5ITMUg2scLwSGuySFZ8jJZPBYB3Mwk5VEesdE=~-1~-1~-1; bm_sz=3E1BB8AFBEC00F5F2212C8EBF434850C~YAAQDvBuaM/Dn1+NAQAAmFm9dBYOeEBSlhN9Yw7Bispqg6/NDdgQJIWgEKL1MatnfvtM0o7xauwzRSzl0OLt5Ng+YK9St6I9qsPdo/SOVt7aM93jiQW5hHC/nCDcu5RM6EOSUe+fVM2v0xm0YXqanVrWMiZqPjLuf6B0JuMEH/FPG6WGdEsSaXl/8AtHyTXV4ncAp6tDCkdOms+MWoqSYLBDoAE/BTB/3DCjTcWKiH76ZcimO916aFiJI/cNo2i9pLvmG+dXw4yDqZ876gGLh9+2odbIkh9K+E342VjOn+8N0CDQRLEvt3D4AlSiQybP1A/1Z6JJXQuMiPYSDUohZhJWQ97mxwFNTt/GGsK18YpZ~3618613~3683639'}
POST request URL: http://httpbin.org/post
GET request URL: http://httpbin.org/get?name=Joseph&ID=123

{'ID': '123', 'name': 'Joseph'}

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

In [3]:
from randomuser import RandomUser
import pandas as pd

r = RandomUser()
some_list = r.generate_users(10)

name = r.get_full_name()

In [9]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

def get_users():
    users =[]
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
    
    return pd.DataFrame(users)

get_users()

Fride Herland   fride.herland@example.com
Victoria Poulsen   victoria.poulsen@example.com
Marius Petersen   marius.petersen@example.com
Nuria Soto   nuria.soto@example.com
Iggy Baartman   iggy.baartman@example.com
Hunter Jordan   hunter.jordan@example.com
Denis Siefert   denis.siefert@example.com
Thea Thomas   thea.thomas@example.com
Ida Christiansen   ida.christiansen@example.com
Matthew King   matthew.king@example.com

,Name,Gender,City,State,Email,DOB,Picture
0,Evan Robin,male,Saint-Imier,Luzern,evan.robin@example.com,1963-09-17T10:09:44.939Z,https://randomuser.me/api/portraits/men/70.jpg
1,طاها کوتی,male,بیرجند,هرمزگان,th.khwty@example.com,1958-12-10T21:53:25.579Z,https://randomuser.me/api/portraits/men/75.jpg
2,Olivia Gagnon,female,Selkirk,Alberta,olivia.gagnon@example.com,1962-01-03T17:16:25.041Z,https://randomuser.me/api/portraits/women/72.jpg
3,Milan Lucas,male,Aubervilliers,Drôme,milan.lucas@example.com,1986-12-18T08:26:04.808Z,https://randomuser.me/api/portraits/men/90.jpg
4,Mila Vidal,female,Le Locle,Neuchâtel,mila.vidal@example.com,1983-06-07T11:00:14.571Z,https://randomuser.me/api/portraits/women/67.jpg
5,Nathan Claire,male,Maitland,Manitoba,nathan.claire@example.com,1959-05-06T07:39:22.299Z,https://randomuser.me/api/portraits/men/77.jpg
6,Gimeno Costa,male,Embu,Rio Grande do Sul,gimeno.costa@example.com,1994-06-18T16:25:27.807Z,https://randomuser.me/api/portraits/men/21.jpg
7,Andy Lambert,male,Portmarnock,Louth,andy.lambert@example.com,1984-03-24T20:21:07.642Z,https://randomuser.me/api/portraits/men/46.jpg
8,Özkan Fahri,male,Şırnak,Sakarya,ozkan.fahri@example.com,1993-01-23T03:03:02.323Z,https://randomuser.me/api/portraits/men/57.jpg
9,Afet Akan,female,Kars,Antalya,afet.akan@example.com,1961-02-18T03:01:05.484Z,https://randomuser.me/api/portraits/women/52.jpg

In [10]:
import json 
import pandas as pd
data = requests.get("https://fruityvice.com/api/fruit/all")
results = json.loads(data.text)
pd.DataFrame(results).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

In [13]:
df2 = pd.json_normalize(results)
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

In [ ]:
from bs4 import BeautifulSoup
import html5lib
import requests

html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"
# soup = BeautifulSoup(html, 'html5lib')
# print(soup.prettify())
soup = BeautifulSoup(html, 'html.parser')
print(soup.prettify())

In [26]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

table_bs = BeautifulSoup(table, 'html.parser')
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]